<!DOCTYPE html>
<html>
  <head>
    <title> Login </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/header') %>

    <form action="/users/<%= user.id %>/edit?_method=PUT" enctype="multipart/form-data" method="POST" id="avatar">
      <div >
        <div >
            <img src="<%= user.avatar %>">
    
            <div>
                <label  class=""  for="avatar">Change your avatar</label>
                <input type="file" name="avatar" accept=".jpg, .gif, .mp4, .png" id="avatar"> 
            </div>
        </div>  
  
        <div>
          <label for="first_name"> First name: </label>
          <input type="text" name="first_name" placeholder="<%= user.first_name %>">
          <br>
          <label for="last_name"> Last name: </label>
          <input type="text" name="last_name" placeholder="<%= user.last_name %>">
          <br>
          <label for="email"> E-mail: </label>
          <input type="text" name="email" id="email" placeholder="<%= user.email %>">
          <br>
          <label for="password"> Password: </label>
          <input type="password" name="password" id="password">
        </div>
      </div>  
      <div ><button type="submit" id="updateUser"> Update user info </button></div>
  </form>

  <a href="/">Home</a>
      <a href="/">Home</a>


</body>
</html>