<!DOCTYPE html>
<html>
  <head>
    <title> Song list </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <%- include('partials/header') %>

    <section class="userlist">
    <% for(songs of song){%> 
    <article class="userBox">
      
      <div>
       Name: <a href="/song/<%= songs.id %>"><%= songs.nombre %>
       </a>
      </div>
    <div>  
      Writer:  <%= songs.compositor %>
    </div>
      <div> 
        Duration: <%= songs.milisegundos *1.6666666666667E-05 %>  
      </div>
      <div> 
        Price: <%= songs.precio_unitario %>
      </div>
     
      <div> 
        Album: <a href="/album/<%= songs.id_album %>"><%= songs.albumes.titulo %></a>
      </div>
      <div> 
        Gender: <a href="/gender/<%= songs.id_genero %>"><%= songs.generos.nombre %></a>
      </div>
    </article>
  <%}%>
  
</section>
   <a href="/">Home</a>


</body>
</html>