<!DOCTYPE html>
<html>
  <head>
    <title> Login </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <%- include('partials/header') %>

    <section class="userlist">
    <% for(users of user){%> 
    <article class="userBox">
     <a href="/<%= users.id %>"> 
      <div>
       Your first name here: <%= users.first_name %>
      </div>
      <div>  
        Your last name here:  <%= users.last_name %>
      </div>
     </a>
      <div> Your avatar here: <br>
        <img src="<%= users.avatar %>" alt="Prueba imagen" class="avatar" style="width: 50%;">
      </div>
      <div> 
        Your e-mail here: <%= users.email %>
      </div>
    </article>
  <%}%>
  
</section>
   <a href="/">Home</a>


</body>
</html>